.sandwich
  display: inline-block
  vertical-align: middle
  margin-right: 15px
  position: relative
  width: 50px
  height: 50px
  border 2px solid #fff
  border-radius 50px

.sandwich-line
  position: absolute
  left: 50%
  margin-left: -12.5px
  display: block
  width: 25px
  height: 4px
  background-color: #fff

.sandwich-line--top
  top: 13px

.sandwich-line--middle
  top: 21px

.sandwich-line--bottom
  top: 29px